h1 {
	color: blue;
	text-align: center;

}

h2 {
	color: black;
}

p {
	float: left;
	color: black;
}

body {
	background-image: url('cool-background.png'); 
}



img {
    max-width:25%;
    height:auto;
}


