h1 {
	color: blue;
	text-align: center;

}

h2 {
	color: black;
}

p1 {
	float: left;
	color: black;
}

body {
	background-image: url('cool-background.png'); 
}

p2 {
	color: black;
	vertical-align: 20px
	
}


